<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Docker</WebPublishMethod>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/41f2a522-457f-4d10-83a2-294ed6112247/resourceGroups/project_cloud/providers/Microsoft.ContainerRegistry/registries/pettyApplication</ResourceId>
    <ResourceName>pettyApplication</ResourceName>
    <ResourceGroup>project_cloud</ResourceGroup>
    <Subscription>Azure for Students</Subscription>
    <RegistryUrl>https://pettyapplication.azurecr.io</RegistryUrl>
    <PublishImageTag>latest</PublishImageTag>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
  </PropertyGroup>
</Project>